In [1]:
#! pip install praw

In [2]:
import pandas as pd
import requests as r
import sqlalchemy
import time
import yfinance as yf
import datetime
import matplotlib.dates as mdates
from matplotlib.dates import DateFormatter
import matplotlib.pyplot as plt
import pprint
import praw
import re
#from config import client_id, client_secret
#pd.options.display.max_columns = None

In [3]:
#reddit = praw.Reddit(
#  client_id = "L4CR_Ba3FnFGLg",
#  client_secret = "D20nZIAi09ASSKcJPDyYeEPW31r7SQ",
#  user_agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.114 Safari/537.36 Edg/89.0.774.75"
#)

In [4]:
#df = []
#for post in reddit.subreddit('wallstreetbets').hot(limit=500):
#    content = {
#        "title" : post.title,
#        "text" : post.selftext,
#        "id" : post.id,
#    }
#    df.append(content)
#df = pd.DataFrame(df)

In [5]:
#df

In [6]:
# File to Load
#file_to_load = "reddit_wsb.csv"

# Read Purchasing File and store into Pandas data frame
#reddit_wsb_df = pd.read_csv(file_to_load)
#clean_wsb_df = reddit_wsb_df.copy()
#clean_wsb_df

In [7]:
#clean_wsb_df["created"] = pd.to_datetime(clean_wsb_df["created"] * 1e9).dt.date
#GME_posts_df = clean_wsb_df[~clean_wsb_df["title"].str.contains('GME', regex=True)]
#GME_posts_df.sort_values(by=['comms_num'], inplace=True, ascending=False)
#clean_wsb_df
#GME_posts_df

In [8]:
stocks = ['GME']
names = ['Gamestop']

In [9]:
def data_retrieve(tickers, names, syear, smonth, sday, eyear, emonth, eday):
    start = datetime.datetime(syear, smonth, sday) # Select the start date (yyyy,m,d)
    end = datetime.datetime(eyear, emonth, eday) # Select the end date (yyyy,m,d)
    data = yf.download(tickers, start=start, end=end)
    data_fix = data.reset_index()
    data_fix.insert(0,'Name', names)
    data_fix.insert(1,'Ticker', tickers)
    return data_fix

In [10]:
master_df = data_retrieve(stocks[0], names[0], 2000, 1, 1, 2020, 12, 31)
master_df

[*********************100%***********************]  1 of 1 completed

,Name,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,Gamestop,GME,2002-02-13,9.625000,10.060000,9.525000,10.050000,6.766666,19054000
1,Gamestop,GME,2002-02-14,10.175000,10.195000,9.925000,10.000000,6.733003,2755400
2,Gamestop,GME,2002-02-15,10.000000,10.025000,9.850000,9.950000,6.699336,2097400
3,Gamestop,GME,2002-02-19,9.900000,9.900000,9.375000,9.550000,6.430017,1852600
4,Gamestop,GME,2002-02-20,9.600000,9.875000,9.525000,9.875000,6.648838,1723200
...,...,...,...,...,...,...,...,...,...
4749,Gamestop,GME,2020-12-23,20.170000,22.350000,19.129999,20.570000,20.570000,25830300
4750,Gamestop,GME,2020-12-24,21.010000,21.480000,19.950001,20.150000,20.150000,6262200
4751,Gamestop,GME,2020-12-28,21.309999,21.969999,20.350000,20.990000,20.990000,8965900
4752,Gamestop,GME,2020-12-29,20.820000,21.070000,18.559999,19.379999,19.379999,9241400
4753,Gamestop,GME,2020-12-30,19.379999,20.000000,18.850000,19.260000,19.260000,5934400