In [ ]:
#! pip install praw

In [2]:
import pandas as pd
import requests as r
import sqlalchemy
import time
import yfinance as yf
import datetime
import matplotlib.dates as mdates
from matplotlib.dates import DateFormatter
import matplotlib.pyplot as plt
import pprint
import praw
import re
from sqlalchemy import create_engine

engine = create_engine("sqlite:///elt_project.db", echo = True)
#engine = create_engine(f'postgresql://postgres:ultra@localhost:5432/elt_project')
connection = engine.connect()
#from config import client_id, client_secret
#pd.options.display.max_columns = None

2021-04-17 11:27:55,020 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-04-17 11:27:55,023 INFO sqlalchemy.engine.base.Engine ()
2021-04-17 11:27:55,026 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-04-17 11:27:55,029 INFO sqlalchemy.engine.base.Engine ()

In [3]:
#reddit = praw.Reddit(
#  client_id = "L4CR_Ba3FnFGLg",
#  client_secret = "D20nZIAi09ASSKcJPDyYeEPW31r7SQ",
#  user_agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.114 Safari/537.36 Edg/89.0.774.75"
#)

In [4]:
#df = []
#for post in reddit.subreddit('wallstreetbets').hot(limit=500):
#    content = {
#        "title" : post.title,
#        "text" : post.selftext,
#        "id" : post.id,
#    }
#    df.append(content)
#df = pd.DataFrame(df)

In [5]:
#df

In [6]:
# File to Load
#file_to_load = "reddit_wsb.csv"

# Read Purchasing File and store into Pandas data frame
#reddit_wsb_df = pd.read_csv(file_to_load)
#clean_wsb_df = reddit_wsb_df.copy()
#clean_wsb_df

In [7]:
#clean_wsb_df["created"] = pd.to_datetime(clean_wsb_df["created"] * 1e9).dt.date
#GME_posts_df = clean_wsb_df[~clean_wsb_df["title"].str.contains('GME', regex=True)]
#GME_posts_df.sort_values(by=['comms_num'], inplace=True, ascending=False)
#clean_wsb_df
#GME_posts_df

In [8]:
stocks = ['GME']
names = ['Gamestop']

In [9]:
def data_retrieve(tickers, names, syear, smonth, sday, eyear, emonth, eday):
    start = datetime.datetime(syear, smonth, sday) # Select the start date (yyyy,m,d)
    end = datetime.datetime(eyear, emonth, eday) # Select the end date (yyyy,m,d)
    data = yf.download(tickers, start=start, end=end)
    data_fix = data.reset_index()
    data_fix.insert(0,'Name', names)
    data_fix.insert(1,'Ticker', tickers)
    return data_fix

In [10]:
gme_stocks = data_retrieve(stocks[0], names[0], 2020, 1, 1, 2021, 12, 31)
gme_stocks["Date"] = gme_stocks["Date"].dt.date
gme_stocks

[*********************100%***********************]  1 of 1 completed

,Name,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,Gamestop,GME,2020-01-02,6.140000,6.470000,6.070000,6.310000,6.310000,4453600
1,Gamestop,GME,2020-01-03,6.210000,6.250000,5.840000,5.880000,5.880000,3543900
2,Gamestop,GME,2020-01-06,5.800000,5.910000,5.600000,5.850000,5.850000,3394800
3,Gamestop,GME,2020-01-07,5.770000,5.830000,5.440000,5.520000,5.520000,5228000
4,Gamestop,GME,2020-01-08,5.490000,5.850000,5.410000,5.720000,5.720000,5629400
...,...,...,...,...,...,...,...,...,...
320,Gamestop,GME,2021-04-12,158.110001,163.899994,135.009995,141.089996,141.089996,16683600
321,Gamestop,GME,2021-04-13,141.880005,145.380005,132.000000,140.990005,140.990005,6806900
322,Gamestop,GME,2021-04-14,143.570007,174.089996,143.000000,166.529999,166.529999,21138100
323,Gamestop,GME,2021-04-15,163.000000,166.250000,152.800003,156.440002,156.440002,7856800
324,Gamestop,GME,2021-04-16,156.000000,160.199997,151.250000,154.690002,154.690002,5139700

In [11]:
gme_stocks.to_sql("gme_stocks", index=False, con = engine)

2021-04-17 11:27:55,789 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("gme_stocks")
2021-04-17 11:27:55,792 INFO sqlalchemy.engine.base.Engine ()
2021-04-17 11:27:55,795 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("gme_stocks")
2021-04-17 11:27:55,796 INFO sqlalchemy.engine.base.Engine ()
2021-04-17 11:27:55,801 INFO sqlalchemy.engine.base.Engine
CREATE TABLE gme_stocks (
	"Name" TEXT,
	"Ticker" TEXT,
	"Date" DATE,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Adj Close" FLOAT,
	"Volume" BIGINT
)


2021-04-17 11:27:55,802 INFO sqlalchemy.engine.base.Engine ()
2021-04-17 11:27:55,810 INFO sqlalchemy.engine.base.Engine COMMIT
2021-04-17 11:27:55,816 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-04-17 11:27:55,821 INFO sqlalchemy.engine.base.Engine INSERT INTO gme_stocks ("Name", "Ticker", "Date", "Open", "High", "Low", "Close", "Adj Close", "Volume") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-04-17 11:27:55,821 INFO sqlalchemy.engine.base.Engine (('Gamestop', 'GME', '2020-01-02', 6.139999866485596, 6.46999979019165, 6.070000171661377, 6.309999942779541, 6.309999942779541, 4453600), ('Gamestop', 'GME', '2020-01-03', 6.210000038146973, 6.25, 5.840000152587891, 5.880000114440918, 5.880000114440918, 3543900), ('Gamestop', 'GME', '2020-01-06', 5.800000190734863, 5.909999847412109, 5.599999904632568, 5.849999904632568, 5.849999904632568, 3394800), ('Gamestop', 'GME', '2020-01-07', 5.769999980926514, 5.829999923706055, 5.440000057220459, 5.519999980926514, 5.519999980926514, 5228000), ('Gamestop', 'GME', '2020-01-08', 5.489999771118164, 5.849999904632568, 5.409999847412109, 5.71999979019165, 5.71999979019165, 5629400), ('Gamestop', 'GME', '2020-01-09', 5.820000171661377, 5.820000171661377, 5.480000019073486, 5.550000190734863, 5.550000190734863, 2643000), ('Gamestop', 'GME', '2020-01-10', 5.559999942779541, 5.599999904632568, 5.380000114440918, 5.429999828338623, 5.429999828338623, 2781400), ('Gamestop', 'GME', '2020-01-13', 5.429999828338623, 5.610000133514404, 5.329999923706055, 5.429999828338623, 5.429999828338623, 3625200)  ... displaying 10 of 325 total bound parameter sets ...  ('Gamestop', 'GME', '2021-04-15', 163.0, 166.25, 152.8000030517578, 156.44000244140625, 156.44000244140625, 7856800), ('Gamestop', 'GME', '2021-04-16', 156.0, 160.1999969482422, 151.25, 154.69000244140625, 154.69000244140625, 5139700))
2021-04-17 11:27:55,826 INFO sqlalchemy.engine.base.Engine COMMIT