In [1]:
#! pip install praw

In [16]:
import pandas as pd
import requests as r
import sqlalchemy
import time
import yfinance as yf
import datetime
import matplotlib.dates as mdates
from matplotlib.dates import DateFormatter
import matplotlib.pyplot as plt
import pprint
import praw
import re
from sqlalchemy import create_engine

#engine = create_engine(f"sqlite:///elt_project")
engine = create_engine(f'postgresql://postgres:ultra@localhost:5432/elt_project')
connection = engine.connect()
#from config import client_id, client_secret
#pd.options.display.max_columns = None

In [3]:
#reddit = praw.Reddit(
#  client_id = "L4CR_Ba3FnFGLg",
#  client_secret = "D20nZIAi09ASSKcJPDyYeEPW31r7SQ",
#  user_agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.114 Safari/537.36 Edg/89.0.774.75"
#)

In [4]:
#df = []
#for post in reddit.subreddit('wallstreetbets').hot(limit=500):
#    content = {
#        "title" : post.title,
#        "text" : post.selftext,
#        "id" : post.id,
#    }
#    df.append(content)
#df = pd.DataFrame(df)

In [5]:
#df

In [6]:
# File to Load
#file_to_load = "reddit_wsb.csv"

# Read Purchasing File and store into Pandas data frame
#reddit_wsb_df = pd.read_csv(file_to_load)
#clean_wsb_df = reddit_wsb_df.copy()
#clean_wsb_df

In [7]:
#clean_wsb_df["created"] = pd.to_datetime(clean_wsb_df["created"] * 1e9).dt.date
#GME_posts_df = clean_wsb_df[~clean_wsb_df["title"].str.contains('GME', regex=True)]
#GME_posts_df.sort_values(by=['comms_num'], inplace=True, ascending=False)
#clean_wsb_df
#GME_posts_df

In [8]:
stocks = ['GME']
names = ['Gamestop']

In [9]:
def data_retrieve(tickers, names, syear, smonth, sday, eyear, emonth, eday):
    start = datetime.datetime(syear, smonth, sday) # Select the start date (yyyy,m,d)
    end = datetime.datetime(eyear, emonth, eday) # Select the end date (yyyy,m,d)
    data = yf.download(tickers, start=start, end=end)
    data_fix = data.reset_index()
    data_fix.insert(0,'Name', names)
    data_fix.insert(1,'Ticker', tickers)
    return data_fix

In [11]:
gme_stocks = data_retrieve(stocks[0], names[0], 2020, 1, 1, 2021, 12, 31)
gme_stocks

[*********************100%***********************]  1 of 1 completed

,Name,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,Gamestop,GME,2020-01-02,6.140000,6.470000,6.070000,6.310000,6.310000,4453600
1,Gamestop,GME,2020-01-03,6.210000,6.250000,5.840000,5.880000,5.880000,3543900
2,Gamestop,GME,2020-01-06,5.800000,5.910000,5.600000,5.850000,5.850000,3394800
3,Gamestop,GME,2020-01-07,5.770000,5.830000,5.440000,5.520000,5.520000,5228000
4,Gamestop,GME,2020-01-08,5.490000,5.850000,5.410000,5.720000,5.720000,5629400
...,...,...,...,...,...,...,...,...,...
320,Gamestop,GME,2021-04-12,158.110001,163.899994,135.009995,141.089996,141.089996,16683600
321,Gamestop,GME,2021-04-13,141.880005,145.380005,132.000000,140.990005,140.990005,6806900
322,Gamestop,GME,2021-04-14,143.570007,174.089996,143.000000,166.529999,166.529999,21138100
323,Gamestop,GME,2021-04-15,163.000000,166.250000,152.800003,156.440002,156.440002,7836900
324,Gamestop,GME,2021-04-16,156.000000,160.159897,151.250000,154.690002,154.690002,4934615

In [15]:
gme_stocks.to_sql(gme_stocks, con = engine)

TypeError: 'DataFrame' objects are mutable, thus they cannot be hashed